.fas.fa-bars {
    color: white;
    padding: 2px;
    border-radius: 2px;
    margin-top: 3px;
}
.listt .nav-link {
    color: black; /* This will change the color of the links */
}

/* Ensure that the navbar-brand (logo) has adequate spacing */
.navbar-brand {
    margin-right: 1rem; /* Adjust the space as needed */
  }
  
  /* Style for the navbar links to space them out */
  .navbar-nav .nav-link {
    margin-left: 1rem; /* Adjust the space as needed */
  }
  
  /* Adjust the margin for the buttons on large screens */
  @media (min-width: 992px) {
    .navbar .d-flex {
      margin-left: auto; /* This will push the button links to the right */
    }
  }



  .navbar-nav .listt .nav-link {
    color: black !important; /* Force override */
}

/* Specific overrides for the buttons */
.navbar-nav .listt .btn-outline-primary {
    background-color: #6C63FF !important; /* Login button background */
    color: white !important; /* Text color */
}

.navbar-nav .listt .btn-outline-primary:hover {
    opacity: 0.8 !important; /* Hover effect */
}

.navbar-nav .listt .btn-primary {
    background-color: #ff6347 !important; /* Sign Up button background */
}







.navbar {
    background-color: transparent !important;
    z-index: 1000; /* Any value higher than what .one-8pn might have */
  }








@font-face { 
    font-family:'icomoon';
    src:url('https://preview.colorlib.com/theme/jobpply/fonts/icomoon/icomoon.eot?6tt51o');
    src:url('https://preview.colorlib.com/theme/jobpply/fonts/icomoon/icomoon.eot?6tt51o#iefix') format('embedded-opentype'),
      url('https://preview.colorlib.com/theme/jobpply/fonts/icomoon/icomoon.ttf?6tt51o') format('truetype'),
      url('https://preview.colorlib.com/theme/jobpply/fonts/icomoon/icomoon.woff?6tt51o') format('woff'),
      url('https://preview.colorlib.com/theme/jobpply/fonts/icomoon/icomoon.svg?6tt51o#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
  } 
  @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
  @font-face { 
    font-family:"Ionicons";
    src:url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.eot?v=4.0.0-19");
    src:url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.eot?v=4.0.0-19#iefix") format("embedded-opentype"),url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.woff2?v=4.0.0-19") format("woff2"),url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.woff?v=4.0.0-19") format("woff"),url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.ttf?v=4.0.0-19") format("truetype"),url("https://preview.colorlib.com/theme/jobpply/fonts/ionicons/fonts/ionicons.svg?v=4.0.0-19#Ionicons") format("svg");
    font-weight:normal;
    font-style:normal;
  } 
    body {  
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size:1rem;
      font-weight:400;
      line-height:1.5;
      color:#212529;
      text-align:left;
      background:#fff;
    }  
  * { 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  .row-7gg { 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .no-j87 { 
      margin-right: 0; 
      margin-left: 0;
  } 
  
  body { 
      margin: 0; 
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
      font-size: 1rem; 
      font-weight: 400; 
      line-height: 1.5; 
      color: #212529; 
      text-align: left; 
      background-color: #fff;
  } 
  
  body { 
      font-family: "Nunito Sans", Arial, sans-serif; 
      background: #fff; 
      font-size: 16px; 
      line-height: 1.8; 
      font-weight: 400; 
      color: #999999;
  } 
  
  html { 
      font-family: sans-serif; 
      line-height: 1.15; 
      -webkit-text-size-adjust: 100%; 
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  } 
  
  .ftco-vsz { 
      -webkit-animation-duration: .5s; 
      animation-duration: .5s; 
      -webkit-animation-fill-mode: both; 
      animation-fill-mode: both;
  } 
  
  .fa-1kp { 
      -webkit-animation-name: fadeInUp; 
      animation-name: fadeInUp;
  } 
  
  .d-wb4 { 
      display: -webkit-box !important; 
      display: -ms-flexbox !important; 
      display: flex !important;
  } 
  
  .item-zgy { 
      -webkit-box-align: center !important; 
      -ms-flex-align: center !important; 
      align-items: center !important;
  } 
  
  .ftco-vkj { 
      opacity: 0; 
      visibility: hidden;
  } 
  
  .one-8pn  { 
      position: relative; 
      height: 750px;
  } 
  
  @media (min-width: 992px){ 
    .one-8pn  { 
      position: absolute; 
      top: 0; 
      left: 0; 
      bottom: 0; 
      right: 0; 
      width: 1200px; 
      margin: 0 auto;
    } 
  }     
  
  *,:before,:after { 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  .mt-qte { 
      margin-top: 3rem !important;
  } 
  
  .text-4to  { 
      position: relative; 
      z-index: 1;
  } 
  
  .text-4to  { 
      position: relative;
  } 
  
  @media (min-width: 992px){ 
    .text-4to  { 
      position: absolute; 
      top: 50%; 
      left: 0; 
      -webkit-transform: translateY(-50%); 
      -ms-transform: translateY(-50%); 
      transform: translateY(-50%); 
      right: 0; 
      max-width: 60%; 
      padding-left: 45px; 
      padding-right: 3em;
    } 
  }     
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .mb-bz3 { 
      margin-bottom: 1.5rem !important;
  } 
  
  .pt-bg6 { 
      padding-top: 3rem !important;
  } 
  
  .hero-wrap .slider-text p { 
      color: rgba(0, 0, 0, 0.8); 
      font-weight: 400;
  } 
  
  h1 { 
      margin-top: 0; 
      margin-bottom: 0.5rem;
  } 
  
  h1 { 
      margin-bottom: 0.5rem; 
      font-weight: 500; 
      line-height: 1.2;
  } 
  
  h1 { 
      font-size: 2.5rem;
  } 
  
  h1 { 
      line-height: 1.5; 
      color: rgba(0, 0, 0, 0.8); 
      font-weight: 400;
  } 
  
  .mb-lad { 
      margin-bottom: 3rem !important;
  } 
  
  .hero-wrap .slider-text h1 { 
      font-size: 60px; 
      color: #000000; 
      line-height: 1.2; 
      font-weight: 900;
  } 
  
  .search-xti { 
      position: relative; 
      width: 100%; 
      display: block;
  } 
  
  p .num-9oo  { 
      color: #ff6347;
  } 
  
  .col-oek { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-oek { 
      -webkit-box-flex: 0; 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  .nav-212 { 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      padding-left: 0; 
      margin-bottom: 0; 
      list-style: none;
  } 
  
  .text-ea5 { 
      text-align: center !important;
  } 
  
  .p-2in { 
      padding: 1.5rem !important;
  } 
  
  .search-xti .content-12q  { 
      background: #6c63ff; 
      -webkit-border-radius: 7px; 
      -moz-border-radius: 7px; 
      -ms-border-radius: 7px; 
      border-radius: 7px; 
      margin-top: -9px;
  } 
  
  a { 
      color: #007bff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  a { 
      -webkit-transition: .3s all ease; 
      -o-transition: .3s all ease; 
      transition: .3s all ease; 
      color: #6c63ff;
  } 
  
  .nav-link-hx9 { 
      display: block; 
      padding: 0.5rem 1rem;
  } 
  
  @media (min-width: 768px){ 
    .mr-md-2ml { 
      margin-right: 0.25rem !important;
    } 
  }     
  
  .nav-vmr .nav-link-hx9  { 
      border-radius: 0.25rem;
  } 
  
  .nav-vmr .nav-link-hx9.act-pww  { 
      color: #fff; 
      background-color: #007bff;
  } 
  
  .search-xti .nav-vmr .nav-link-hx9  { 
      padding: 10px 30px !important; 
      border-radius: 5px; 
      margin-bottom: 0; 
      color: #000000; 
      font-size: 18px; 
      font-weight: 400; 
      position: relative; 
      display: inline-block; 
      border: 1px solid transparent; 
      background: #fff; 
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      -ms-border-radius: 5px;
  } 
  
  .search-xti .nav-vmr .nav-link-hx9.act-pww  { 
      color: #fff; 
      -moz-transition: all 0.3s ease; 
      -o-transition: all 0.3s ease; 
      -webkit-transition: all 0.3s ease; 
      -ms-transition: all 0.3s ease; 
      transition: all 0.3s ease; 
      border: 1px solid transparent; 
      background: #6c63ff;
  } 
  
  .search-xti .nav-vmr .nav-link-hx9.act-pww::after, .search-xti .nav-vmr .nav-link-hx9:hover::after { 
      opacity: 1;
  } 
  
  a:hover { 
      color: #0056b3; 
      text-decoration: underline;
  } 
  
  a:hover { 
      text-decoration: none; 
      color: #6c63ff; 
      outline: none !important;
  } 
  
  .nav-link-hx9:hover { 
      text-decoration: none;
  } 
  
  .search-xti .nav-vmr .nav-link-hx9.act-pww , .search-xti .nav-vmr .nav-link-hx9:hover { 
      color: #fff; 
      -moz-transition: all 0.3s ease; 
      -o-transition: all 0.3s ease; 
      -webkit-transition: all 0.3s ease; 
      -ms-transition: all 0.3s ease; 
      transition: all 0.3s ease; 
      border: 1px solid transparent; 
      background: #6c63ff;
  } 
  
  .search-xti .nav-vmr .nav-link-hx9.act-pww, .search-xti .nav-vmr .nav-link-hx9:hover { 
      color: #fff; 
      -moz-transition: all 0.3s ease; 
      -o-transition: all 0.3s ease; 
      -webkit-transition: all 0.3s ease; 
      -ms-transition: all 0.3s ease; 
      transition: all 0.3s ease; 
      border: 1px solid transparent; 
      background: #6c63ff;
  } 
  
  .fa-nys { 
      -webkit-transition: opacity 0.15s linear; 
      -o-transition: opacity 0.15s linear; 
      transition: opacity 0.15s linear;
  } 
  
  .content-12q > .tab-ggw  { 
      display: none;
  } 
  
  .content-12q > .act-pww  { 
      display: block;
  } 
  
  .fa-nys:not(.sho-7df) { 
      opacity: 0;
  } 
  
  .col-ifw { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-ifw { 
      -ms-flex-preferred-size: 0; 
      flex-basis: 0; 
      -webkit-box-flex: 1; 
      -ms-flex-positive: 1; 
      flex-grow: 1; 
      max-width: 100%;
    } 
  
    .mr-md-ajo { 
      margin-right: 0.5rem !important;
    } 
  }     
  
  .no-j87 > [class*="col-"]  { 
      padding-right: 0; 
      padding-left: 0;
  } 
  
  .form-group-lv4 { 
      margin-bottom: 1rem;
  } 
  
  .search-ikh .form-group-lv4  { 
      position: relative; 
      margin-bottom: 0;
  } 
  
  .search-ikh .form-group-lv4 .field-tsm  { 
      position: relative; 
      display: block;
  } 
  
  .search-ikh .form-group-lv4 .icon-e59  { 
      position: absolute; 
      top: 51%; 
      left: 10px; 
      font-size: 16px; 
      -webkit-transform: translateY(-50%); 
      -ms-transform: translateY(-50%); 
      transform: translateY(-50%); 
      color: #d9d9d9;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  .form-control-mpb { 
      display: block; 
      width: 100%; 
      height: calc(1.5em + 0.75rem + 2px); 
      padding: 0.375rem 0.75rem; 
      font-size: 1rem; 
      font-weight: 400; 
      line-height: 1.5; 
      color: #495057; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 1px solid #ced4da; 
      border-radius: 0.25rem; 
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
      -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  } 
  
  .form-control-mpb { 
      height: 52px !important; 
      background: #fff !important; 
      color: #000000 !important; 
      font-size: 18px; 
      border-radius: 5px; 
      -webkit-box-shadow: none !important; 
      box-shadow: none !important;
  } 
  
  .search-ikh .form-group-lv4 .form-control-mpb  { 
      padding-left: 30px; 
      display: block; 
      width: 100%; 
      font-size: 14px; 
      border: none; 
      color: rgba(0, 0, 0, 0.7) !important; 
      background: white !important;
  } 
  
  .search-ikh .form-group-lv4 .select-j91  { 
      position: relative;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  button,[type="submit"] { 
      -webkit-appearance: button;
  } 
  
  .btn-i1x { 
      display: inline-block; 
      font-weight: 400; 
      color: #212529; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: 1px solid transparent; 
      padding: 0.375rem 0.75rem; 
      font-size: 1rem; 
      line-height: 1.5; 
      border-radius: 0.25rem; 
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  } 
  
  .btn-secondary-yzs { 
      color: #fff; 
      background-color: #6c757d; 
      border-color: #6c757d;
  } 
  
  .btn-i1x { 
      cursor: pointer; 
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      -ms-border-radius: 5px; 
      border-radius: 5px; 
      -webkit-box-shadow: none !important; 
      box-shadow: none !important;
  } 
  
  button:not(:disabled),[type="submit"]:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn-i1x.btn-secondary-yzs { 
      border: 1px solid #ff6347 !important; 
      color: #fff !important; 
      background: #ff6347 !important;
  } 
  
  .search-ikh .form-group-lv4 .form-control-mpb.btn-i1x  { 
      padding: 0 !important; 
      font-size: 16px; 
      color: #fff !important; 
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      -ms-border-radius: 5px; 
      border-radius: 5px;
  } 
  
  .search-ikh .form-group-lv4 .form-control-mpb.btn-i1x.btn-secondary-yzs  { 
      background: #ff6347 !important;
  } 
  
  .btn-i1x:hover { 
      color: #212529; 
      text-decoration: none;
  } 
  
  .btn-secondary-yzs:hover { 
      color: #fff; 
      background-color: #5a6268; 
      border-color: #545b62;
  } 
  
  .btn-i1x:hover,.btn-i1x:active { 
      outline: none;
  } 
  
  .btn-i1x.btn-secondary-yzs:hover { 
      border: 1px solid #6c63ff; 
      background: transparent; 
      color: #6c63ff;
  } 
  
  [class^="icon-"] { 
      font-family: 'icomoon' !important; 
      speak: none; 
      font-style: normal; 
      font-weight: normal; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .icon-ap9:before { 
      content: "\f0b1";
  } 
  
  select { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  select { 
      text-transform: none;
  } 
  
  select { 
      word-wrap: normal;
  } 
  
  .search-ikh .form-group-lv4 .select-j91 select  { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none;
  } 
  
  .icon-tpd:before { 
      content: "\f041";
  } 
  
  .icon-bo5:before { 
      content: "\f007";
  } 
  
  .ionicons,.ion-ios-arrow-back:before,.row-zko:before,.ion-ios-arrow-forward:before { 
      display: inline-block; 
      font-family: "Ionicons"; 
      speak: none; 
      font-style: normal; 
      font-weight: normal; 
      font-variant: normal; 
      text-transform: none; 
      text-rendering: auto; 
      line-height: 1; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .row-zko:before { 
      content: "\f3d0";
  } 
  
  
  @keyframes fadeInUp { 
    0% {  
        opacity: 0; 
        visibility: hidden; 
        -webkit-transform: translate3d(0, 40px, 0); 
        transform: translate3d(0, 40px, 0); 
        opacity: 0; 
        visibility: hidden; 
        transform: translate3d(0px, 40px, 0px); 
    }  
    100% {  
        visibility: visible; 
        opacity: 1; 
        -webkit-transform: none; 
        transform: none; 
        visibility: visible; 
        opacity: 1; 
        transform: none; 
    }  
  
  } 
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-q3RvQ.style-q3RvQ {  
     height: 667px;  
  }  






  @media (max-width: 767.98px) { /* Adjust this breakpoint as needed */
    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* Behind the content */
    }
  
    .image-container img {
      width: 100%;
      height: auto;
      opacity: 0.5; /* Optional: makes the image lighter so the text is readable */
    }
  }
  
  @media (min-width: 768px) {
    .image-container {
      height: auto; /* Reset the height for larger screens */
      position: static; /* Reset position for larger screens */
      z-index: auto; /* Reset z-index for larger screens */
    }
  }


.wawa{

}

.category li {
    list-style: none;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    
}
.category li a:hover, .category li a:focus {
    color: #ff6347;
    padding-left: 15px;
    background: #ffe5e0;
}
.category li a {
    display: block;
    color: #1a1a1a;
    border-bottom: 1px solid #ffe5e0;
    padding: 10px 15px 10px 0;
    position: relative;
}
.category li a span.number {
    font-size: 16px;
    background: snow;
    color: #ff6347;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.category li a span {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
}







.img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.browse-job {
    background: #fff;
    position: relative;
    z-index: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.browse-job .icon {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 200px;
    line-height: 1;
    z-index: -1;
    color: #e9e8ff;
}
.browse-job .subheading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #6c63ff;
    letter-spacing: 1px;
}




.ftco-footer {
    font-size: 16px;
    background: #000000;
    padding: 7em 0;
}

@media (min-width: 992px){
.container { 
    max-width: 960px;
}
}
@media (min-width: 768px){
.col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
}
.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}
.ftco-footer-widget li a{
    color: white;
    opacity: 0.7;
}




  
