nav li:hover{
       text-align: center;
       color:white;
       background-color:#a4a0ed;
       
}
.logo{
    width:50px;
}

#info li{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-right: 10px;
}
#color{
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    background-color: #6c63ff;
    width: 20%;
    margin-top:10px ;

} 
 #color>li>a{
  
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    color:white; 
    
    
    
}
 #color>li>a:hover{
    
    background-color: #a4a0ed;
    text-align: center;
    border-radius: 10px;
    }


#info{
    list-style-type: none;
    text-align: left;
    border:1px solid none;
    padding-right: 15px;
    
}
#main{
      border-radius: 20px;
      box-shadow: 0 0 5px #6c63ff;
      margin-left: 30px;
      width: 70%;
      margin-top: 10px;
      }
 
.nav2{
    display: flex;
    margin-right: 0;
}

.button1{
    
    border-radius: 10px;
    box-shadow:0 0 ;
    color: white;
    border: none;
    box-shadow: 0 0 5px #ff6347;
    background-color: #ff6347;
    padding: 15px;
    
    
}

.button1{text-decoration: none;
color:white;
;}

.button1:hover{
    background-color: #f0998a;
}

button[type="button1"]{
    
    background-color: #ff6347;
    box-shadow: 0 0 5px #ff6347;
    border: none;
    
}

button[type="button2"]{
    
    background-color: #6c63ff;
    box-shadow: 0 0 5px #6c63ff;
    border: none;
    
}

button[type="button1"]:hover{
    
    background-color: #ff6347;
    
    
}

button[type="button2"]:hover{
    
    background-color: #6c63ff;
    
    
}
.button2{
    width: 100px;
    border-radius: 10px;
    box-shadow:0 0 ;
    color: white;
    border: none;
    box-shadow: 0 0 5px #6c63ff;
    background-color: #6c63ff;
    padding: 10px;
    

}

.button2:hover{
    background-color: #a4a0ed;
}

.wrapper{
    display: flex;
}

.left{
    margin-left: auto;
    
}
.global{

    font-family: Arial, sans-serif;
    margin:50px;
    padding: 50px;
   
    
    margin: 5px auto;
    padding: 50px;
}

    caption{
        font-size: large;
        
    }

    .ftco-footer {
        font-size: 16px;
        background: #000000;
        padding: 7em 0;
    }
    
    @media (min-width: 992px){
    .container { 
        max-width: 960px;
    }
    }
    @media (min-width: 768px){
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    }
    .ftco-footer .ftco-footer-widget h2 {
        font-weight: normal;
        color: #fff;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .ftco-footer-social li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;
    }
    .ftco-footer-widget li a{
        color: white;
        opacity: 0.7;
    }

footer a{text-decoration: none;}










    