div.card-body img.img_recruteur {
    width: 12%;
    height: 12%;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0px 0px 10px rgba(136, 131, 239, 0.5);
    border-radius: 5px;
    border: 2px solid none;
  }
  img.logo {
    /*add photo logo*/
    margin-left: 10px;
    border-radius: 50%;
    width: 10%;
    height: 10%;
  }

 
  
.skill{display:none;}
 
 aside.sidebar-filter {
        border: 1px solid #ccc;
        width: 250px;
        min-width: 20%;
        padding: 20px;
        float: left;
        margin-left:0px;
        margin-right:20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    
    aside.sidebar-filter {
        min-width: 200px; /* Largeur minimale de l'élément <aside> */
    }
    
    .sidebar-filter form {
        margin-bottom: 20px;
       
    }
    
    .sidebar-filter h5 {
        margin-bottom: 15px;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .sidebar-filter label {
       
        margin-bottom: 5px;
    }
    
    .sidebar-filter select,
    .sidebar-filter input[type="number"] {
        width: 100%;
        margin-bottom: 5px;
        
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .sidebar-filter input[type="number"]{
        display:block;
    }
    
    .sidebar-filter .ligne {
        margin-bottom: 10px;
    }
    
    .sidebar-filter #skill,
    .sidebar-filter .skill {
        margin-bottom: 10px;
    }
    
    .sidebar-filter #add-skill {
        background-color: #6c63ff;
        box-shadow:0 0  5px #4e46ea ;
        border-radius: 5px;
        border: none;
        width: 50px;
        height: 30px;
        color: white;
        margin-left:150px;
    }
    
    .sidebar-filter #add-skill:hover {
        background-color: #a29eef;
    }
    
    .sidebar-filter input[type="checkbox"] {
        margin-right: 5px;
    }
    
    .sidebar-filter input[type="radio"] {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    
    .sidebar-filter .reset-submit {
        text-align: center;
    }
    
    .sidebar-filter .btn {
        margin: 0 5px;
    }
    
    .sidebar-filter hr {
        margin: 15px 0;
    }
    
    .sidebar-filter label,
    .sidebar-filter input[type="number"] {
        display: inline-block;
        vertical-align: middle;
    }

 aside{display:flex;}

    #alignement-card{display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}
.card{width: 100%}
.card-body{width:100%;
    height: 500px;
padding:10px;
overflow: auto;
box-sizing:border-box;}

.card-list{margin:2px;}

 .btn-outline-primary {
    color: white;
    background-color:#ff6347;
    box-shadow: 0 0 5px #f08977;
    border: 0px;
    margin: 5px;
  }

  .btn-outline-primary:hover{
    background-color: #f08977;
  }

  .btn-outline-primary:click{
    background-color: #f08977;
  }
/*.btn {
    box-shadow: 0px 0px 5px #6c63ff;
  }*/
  
 /* .btn:hover {
    background-color: #8d88ef;
    box-shadow: 0px 5px 7px #a29efb;
  }
  */

  .btn-postuler{ text-decoration: none;
color: white;
background-color: #6c63ff;
padding: 8px;
border-radius:5px;
box-shadow: 0 0 5px #6c63ff;


}
.btn-postuler:hover{
   box-shadow: 0 0 10px #544cf5;
    background-color: #948ff0;
    
    
    
    }
  

    .card-list-nav{
        display: flex;
        justify-content: center ; /* Centrer horizontalement */
        align-items: center ; /* Centrer verticalement */
        margin-bottom: 20px; /* Ajouter un espace en bas pour l'esthétique */
    }
    

 /*/////////////////////////////////////////////////////////*/
 
.titre_offre{display:flex;}

#nom-candidat{padding: 20px;}

.rounded-pill{margin-left: 20px;}
.btn-msg{text-decoration: none;
    color: white;
    background-color: #ff6347;
    padding: 8px;
    border-radius:5px;
    box-shadow: 0 0 5px #ff6347;}

    .btn-msg:hover{
        box-shadow: 0 0 10px #f08977;
         background-color: #f08977;
         
         
         
         }

.msg-post{float:right;}
.pagination{margin-top:10px;
float: right;}

.img-xs{width: 37px;
height:37px;}

.btn-primary{background-color: #6c63ff;
    box-shadow: 0 0 5px #a29eef;
}

.btn-primary:hover{background-color: #a19df3;
    box-shadow: 0 0 5px #a29eef;
}

.text-bg-success{width:100px;
height:25px;
justify-content: center;
margin-left:150px;
background-color: rgb(7, 195, 35) !important;}