/* styling the middle , imported cards               */
img.logo {
  /*add photo logo*/
  margin-left: 10px;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}


div.card {
  width: 100%;
  padding: 0px;
  border: 2px solid lightgrey;
  /* margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%; */
  scale: 0.95;
}
div.card-body {
  padding-top: 0;
  padding-bottom: 0;
}

div.card:hover {
  /* border: 2px solid #6c63ff; */
  opacity: 0.7;
}

div.card-list {
  /* border: 2px solid #6c63ff; */
  height: 1200px;
}

ul.pagination {
  float: right;
  margin: 10px;
}

div.card-body img.img_recruteur {
  width: 12%;
  height: 12%;
  float: left;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: 0px 0px 10px rgba(45, 40, 143, 0.5);
  border-radius: 5px;
  border: 2px solid rgb(108, 99, 255);
}

div.card-body > div.titre_offre {
  /* width: 40%;
            float:inline-start;
            margin-top:3%; */
  position: absolute;
  left: 15vw;
  top: 2vw;
  margin-left: 5px;
}

div.card-body > p.duree_offre {
  position: absolute;
  color: #ff6347;
  left: 40vw;
  top: 7vw;
}

div.card-body > p.duree_offre > img {
  position: absolute;
  right: 105%;
  top: 5%;
}

div.card-body > p.location_offre {
  position: absolute;
  color: #ff6347;
  left: 20vw;
  top: 7vw;
}

div.card-body > p.location_offre > img {
  position: absolute;
  right: 105%;
  /* top: 10%; */
}

div.card-body > span.specialiste_offre {
  position: absolute;
  top: 7vw;
  left: 65vw;
}

a.postuler {
  position: absolute;
  bottom: 10%;
  right: 2%;
}

/* The form of filtring */
.card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(247, 247, 247, 0.877);
  border: 1px solid white;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.22);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.22);
  /* -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px); */
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bolder;
  color: black;
  opacity: 1 !important;
}

.card:hover {
  border: 1px solid black;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1 !important;
}
.cardnewoffre:hover {
  transform: scale(1.25);
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}

.card:active {
  -webkit-transform: scale(0.98) rotateZ(1.1deg);
  -ms-transform: scale(0.98) rotate(1.1deg);
  transform: scale(0.98) rotateZ(1.1deg);
}
.cardnewoffre {
  position: absolute;
  width: 30% !important;
  padding: 10px;
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: #ffffff; /* Set background color */
  z-index: 9999; /* Set z-index higher than other elements */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
}
.cardnewoffre:active {
  -webkit-transform: scale(1.23) rotateZ(1.1deg);
  -ms-transform: scale(1.23) rotate(1.1deg);
  transform: scale(1.23) rotateZ(1.1deg);
}
.mrg {
  margin: 5% 0 !important;
}

.cardnewoffre > {
  position: relative;
  margin: 20px !important;
}

#displayoffre {
  display: inline;
  position: absolute;
  /* right: -3%; */
  top: 20%;
  padding: 10px 20px;
}

.icon-span {
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}
.icon-span img {
  width: 100%;
  height: 100%;
}
#info {
  text-align: left;
  margin-left: 0;
  max-width: 70%;
}

#infobtn {
  position: absolute;
  border: 0;
  margin-left: 0;
  left: 2vw;
  top: 9.5vw;
  background: transparent;
  text-decoration: underline;
}

#info * {
  position: relative;
}
#info {
  max-height: 0;
  overflow: hidden;
  opacity: 0; /* Start with opacity 0 */
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Add opacity transition */
}

#info.show {
  max-height: 1000px; /* Adjust this value based on the maximum height of your content */
  opacity: 1; /* Change opacity to 1 when the collapse is shown */
}
