.btn {
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.5);
}

.btn:hover {
    background-color: #5c55e2;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 1);
}

.btn-primary {
    color: white;
    background-color: #6c63ff;
    border-color: #6c63ff;
    /* #ff6347 orange */
}

.btn-outline-primary {
    color: #ff6347;
    background-color: white;
    border-color: #ff6347;
    margin: 5px;
}


nav>div>.bg-badge {
    background-color: #ffffff;
}

nav>div>span.badge {
    border: 1px solid #ff6347 !important;

}




nav>div>span:last-child {

    margin-right: 1%;

}

.container-fluid {
    margin-left: 25%;
}

img.logo {
    /*add photo logo*/
    margin-left: 10px;
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

div.card {
    width: 75%;
    border: 1px solid #ff6347;
    margin-left: 25%;
    margin-top: 5px;

}

div.card:hover {
    border: 2px solid #6c63ff;

}

div.card-list {
    /* border: 2px solid #6c63ff; */
    height: 1200px;

}

ul.pagination {
    float: right;
    margin: 10px;
}

div.card-body img.img_recruteur {
    width: 12%;
    height: 12%;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0px 0px 10px rgba(45, 40, 143, 0.5);
    border-radius: 5px;
    border: 2px solid rgb(108, 99, 255);
}

div.card-body>div.titre_offre {
    /* width: 40%;
    float:inline-start;
    margin-top:3%; */
    position: absolute;
    left: 15%;
    top: 20%;
    margin-left: 5px;
}

div.card-body>p.duree_offre {
    position: absolute;
    color: #ff6347;
    left: 45%;
    top: 50%;

}

div.card-body>p.duree_offre>img {
    position: absolute;
    right: 100%;
    top: 10%;

}

div.card-body>p.location_offre {
    position: absolute;
    color: #ff6347;
    left: 20%;
    top: 50%;
}

div.card-body>p.location_offre>img {
    position: absolute;
    right: 100%;
    top: 10%;

}

div.card-body>span.specialiste_offre {
    position: absolute;
    top: 50%;
    left: 65%;
}

a.postuler {
    position: absolute;
    bottom: 10%;
    right: 2%;

}


/*The side bar style*/
aside.sidebar-filter {
    /* border:1px solid black; */
    width: 25%;

    float: left;
}

aside>form>div.reset-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

aside>form>div>input.btn:hover {
    background-color: #ff6347;
}

aside>form>select>option:checked {
    color: white;
    background-color: #ff6347;
}

body>aside:first-of-type {
    border: 2px solid black;
    float: left;
    display: flex;
}

input.form-check-input {
    background-color: #ff6347;
}

input.form-check-input:checked {
    background-color: #ff6347;
    border-color: #6c63ff;
    box-shadow: 0px 0px 10px rgba(255, 99, 71, 1);
}


/* The form of filtring */